body {
  width: 100vw;
  height: 100vh;
}

#root {
  min-height: 100%;
  width: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sidebar-wrapper {
  width: 250px;
  height: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
  color: #24244e;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-row {
  margin-top: 1.5em;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.no-margin-left {
  margin-left: 0px !important;
}