.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #24244e;
    border-radius: 4px;
    width: 80%;
    height: 100vh;
}

.form-container h2 {
    margin: 0;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    color: #24244e;
    border-radius: 4px;
    width: 80%;
    height: 100vh;
}